.bgColor{
    background: #262626
}
.imgClass{
    height:25px;
}

.textColor{
    color:lightskyblue;
    font-weight: 700;
}

.navLink{
    margin:0 10px;
    font-size: small;
}

.navSearch{
    background: bottom;
    border: none;
    font-size: small;
}