.main{
    margin: 4px;
    height: 50vh;
    padding-top:50px;
    background:#2E2E2E;
}


.textColor{
    color:lightskyblue;
    font-weight: 700;
}

.textColorWhite{
    color:white
}

.linkBlue{
    margin: 0 5px;
    color:lightskyblue;
}

.bgBlue{
    background: lightskyblue
}