/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
ul li a {
  color: rgb(20, 15, 15) !important;
}
.bgColor{
  background: #262626
}
.imgClass{
  height:25px;
}

.textColor{
  color:rgb(0, 0, 0);
  font-weight: 700;
}

.navLink{
  margin:0 10px;
  font-size: small;
}

.navSearch{
  background: bottom;
  border: none;
  font-size: small;
}